$primary-color: #010017;
$primary-color-alt: #474b4f;
$primary-color-accent: #6b6e70;

$theme-background: $primary-color; //#010017;
$theme-color: #ffffff;
$theme-font-size: 14px;
$theme-letter-spacing: 0.09rem;

$navbar-bnackground: #0f0e26;
