.main-navbar {
    @extend .navbar, .fixed-top, .navbar-expand-lg, .navbar-dark;

    background-color: $navbar-bnackground;
    border-color: $navbar-bnackground;

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: #337ab7;
                padding: 10px 15px;
            }

            &.active, &:hover {
                .nav-link {
                    color: #D71921;
                }
            }
        }
    }
}

.page-wrap {
}
