.panel {
    position: relative;
    padding: 1rem;
    border: 1px solid #0B312A;
}

.panel-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    .panel {
        flex: 1 1 auto;
    }
}
